body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h2 {
    color: #7d97ad;
}

h4 {
    font-weight: 100;
}

.logo {
    color: #02b3e4;
}

.text {
    color: #2d3c49;
}

.zocial {
    margin: 10px;
}

.img-responsive,
.social {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width: 991px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}